.bg{
    background-color:hsl(225, 100%, 94%);
    
    
}
.Brightblue {color:hsl(245, 75%, 52%)}


.Verypaleblue {color:hsl(225, 100%, 98%)}
.Desaturatedblue{
    color:hsl(224, 23%, 55%);
}
.Darkblue {color: hsl(223, 47%, 23%);}

